<!DOCTYPE html>

<html>
    <head>
        <title > Flush Finder</title>
        
        <!-- SEMANTIC UI  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <script src="semantic/dist/semantic.min.js"></script>
        <!-- MY CSS -->
        <link rel="stylesheet" href="/stylesheets/main.css">
        <!-- MY JS -->
        <script src="/js/main.js"></script>


    </head>

    <body>

    <!-- NAVBAR -->
    <div class="ui secondary pointing menu">
        <div class="item">
            <i class="ui large street view icon"></i>
          </div>
        <a class="item" href="/">
          Toilets
        </a>
        <a class="item" href="/new">
          Add Toilet
        </a>

        <div class="right menu">
          <a class="ui item" href="/login">
            Login
          </a>
          <a class="ui item" href="/register">
            Register
          </a>
        </div>
      </div>

   