<%-include ("./partials/header")%>

<!-- FORM TO REGISTER -->

<div class="ui grid container">
    <div class="five wide centered column">
        <form class="ui huge form segment" action="/register" method="POST">
            <h2 class="ui dividing header"> Register </h2>
            <div class="required field">
                <label> Username </label>
                <input type="text" name="username" placeholder="username">
            </div>
            <div class="required field">
                <label> Full Name </label>
                <input type="text" name="name" placeholder="full name">
            </div>
            
            <div class="required field">
                <label> Password </label>
                <input type="password" name="password" placeholder="password">
            </div>
            <div class="field">
                <button class="ui right floated button blue"> Register </button>
            </div>
        </form>
    </div>
</div>

<%-include ("./partials/footer")%>
