body{
    background-color: #0081A7;
}

.center{
    text-align: center;
}


/* SHOW PAGE FOR SPECIFIC TOILET */
#showToilet{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #EBEBEB;
}

#showReview{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #EBEBEB;
}

.headerName{
    font-size: 3.5em;
    margin-bottom:0;
}

.headerDesc{
    margin-top: 0;
}

.rFloat{
    float:right;    
}

.ui.button{
    color: rgba(0,0,0,.87);
}

#reviewButton{
    background-color: #EA9010;
}

.star.icon{
    color: #EA9010;
}

.delete-form{
    display:inline;
}

.toiletEditDelete{
    position:relative;
    top: -10px;
}