<%-include ("../partials/header")%>

<!-- FORM TO ADD A NEW REVIEW -->

<div class="ui grid container">
    <div class="eight wide centered column">
        <form class="ui huge segment form" action="/toilets/<%=toilet._id%>/reviews" method="POST">
            <h2 class="ui dividing header"> Your Review for <%=toilet.name %> </h2>
                <div class="sixteen wide field">
                    <input type="text" name="review[text]" required>
                </div>
                <button class="ui button blue"> Submit Review </button>
        </form>
    </div>
</div>

<%-include ("../partials/footer")%>
